/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  #telefone {
      width:100%;
      margin-bottom: 25px;
      padding: 10px;
      border: 1px solid #ccc;
  }
  /* Estiliza o botão enviar com uma cor de fundo especifica*/
  input[type=submit] {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  /* Quando passa o mouse em cima do botão enviar, adiciona uma cor azul*/
  input[type=submit]:hover {
    background-color: blue;
    transition-duration: 0.5s;
    color: white;
  }
  
  /*Adiciona cor de fundo e padding em volta do formulário */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
 
  .grid {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
  }